/*
 *
 * Standings Styles
 *
 */

.page-standings {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

@media only screen and (max-width: 1000px) {
	.page-standings {
		grid-template-columns: 1fr;
	}
}
