/*
*
* Home Styles
*
*/

.page-home {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.page-home .hero {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.page-home h1 {
  color: #ED5429;
  font-size: 4.25em;
  line-height: 0.975;
}

@media only screen and (max-width: 1000px) {
  .page-home {
    grid-template-columns: 1fr;
  }
}
