/*
 *
 * App Styles
 *
 */


html {
	color: #444;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
}

html {
	font-family: 'Ubuntu', sans-serif;
}

.app-container {
	padding: 2.5rem;
}
