/*
*
* App Styles
*
*/

html {
  color: #444;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}

body {
  background-image: url('./img/funky-lines.png');
}

a {
  color: #ED5429;
  text-decoration: none;
}

p, ol, ul {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5;
}

ol, ul {
  list-style-position: inside;
  list-style-type: disc;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

.app-container {
  background: rgba(255,255,255,0.85);
  margin: 0 auto;
  max-width: 90vw;
  min-height: 100vh;
  padding: 2.5rem;
}
@media only screen and (max-width: 62.5rem) {
  .app-container {
    min-width: 100%;
    padding: 2.5rem 1.25rem 5rem;
  }
}

.page {
  margin-bottom: 5rem;
  padding-top: 2.5rem;
}

.page a {
  border-bottom: 1px solid transparent;
}
.page a:hover {
  border-bottom: 1px solid #ED5429;
}

.page h2 {
  color: #bbb;
  font-size: 22px;
  font-weight: 500;
}

.page.content h1,
.page.content h2,
.page.content p,
.page.content ol,
.page.content ul {
  margin-bottom: 1.25rem;
}

.page.content *:last-child {
  margin-bottom: 0;
}
