/*
 *
 * Players Styles
 *
 */

.page-players .grid {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

@media only screen and (max-width: 1000px) {
	.page-players .grid {
		grid-template-columns: 1fr;
	}
}

.page-players form {
	margin-bottom: 2.5rem;
	overflow: hidden;
}

.page-players form label {
	background: rgba(0,0,0,0.05);
	border: 1px solid #ddd;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	color: #aaa;
	float: left;
	font-size: 12px;
	font-weight: 700;
	line-height: 38px;
	padding: 0 10px;
	text-transform: uppercase;
}

.page-players form select {
	border: 1px solid #ddd;
	border-radius: 0 3px 3px 0;
	color: #444;
	font-size: 1.125em;
	font-weight: 500;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 10px;
	-webkit-appearance: none;
}

.page-players form div {
	float: left;
	margin-left: 20px;
}

.page-players form div:first-child {
	margin-left: 0;
}
