/*
*
* Teams Styles
*
*/

 .app-table .tb-name {
   background-color: rgba(237, 84, 41, 1);
   border-radius: 3px 3px 0 0;
   color:#fff;
   font-size: 1.25em;
   font-weight: 700;
   padding: 10px;
 }

.app-table .tb-roster {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.app-table .tb-roster thead {
  background-color: rgba(237, 84, 41, 0.075);
}

.app-table .tb-roster th {
  overflow: hidden;
  padding: 10px 0 10px 10px;
  text-align: left;
  white-space: nowrap;
}

.app-table .tb-roster td {
  overflow: hidden;
  padding: 10px 0 10px 10px;
  white-space: nowrap;
}

.app-table .tb-roster tbody tr:nth-child(even) {
  background-color: rgba(0,0,0,0.025);
}

.app-table .tb-roster .row-number {
  width: 5%;
}

.app-table .tb-roster .row-name {
  width: auto;
}

.app-table .tb-roster .row-position {
  width: 10%;
}

.app-table .tb-roster .row-age {
  width: 10%;
}

.app-table .tb-roster .row-height {
  width: 10%;
}

.app-table .tb-roster .row-weight {
  width: 10%;
}
